/*.container_container{

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}*/

body{

	margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{

	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;

}

header > ul{

	list-style-type: none;
	margin: 0;
	padding: 10px 0;
	position: fixed;
	top: 0;
	background-color: #194656;
	width: 100%;

}

header > ul > li{

	display: inline;
	margin: 5px;

}

@media screen and (max-width: 768px){

	header > ul > li{
		display: block;
	}

}

.title{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(./assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 300px;
	margin-top: 39px;

}

.container_cards{

	/* Flexbox */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	/* Grid */
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;*/

	/* Web Scaffolding */
	/* Web Scaffolding Ends */

}

.container_cards > div{

	/* Web Scaffolding */
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
	/* Web Scaffoldin Ends */

	background-color: #42bbe5;
	border-radius: 10px;
	margin: 20px;

}

/*@media screen and (max-width: 700px){

	body{
		background-color: #ff00ff;
	}

	.item_cards_3{
		grid-column: 1 / span 2;
	}

	.container_cards{
		grid-template-columns: 1fr 1fr;
	}

}

@media screen and (max-width: 450px){

	body{
		background-color: #ffff00;
	}

	.container_cards{
		grid-template-columns: 1fr;
	}

}*/

footer{


	background-color: #194656;
	min-height: 200px;

}
