body{

	margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{

	font-family: 'Poppins', sans-serif;

}

/****************************
**** Barra de Navegación ****
****************************/

header > ul{

	list-style-type: none;
	margin: 0;
	padding: 10px 0;
	position: fixed;
	top: 0;
	background-color: #194656;
	width: 100%;
	color: white;

}

header > ul > li{

	display: inline;
	margin: 5px;

}

header > ul > li > a{

	color: white;
	text-decoration: none;

}

header > ul > li > a:hover{

	text-decoration: underline;

}

@media screen and (max-width: 768px){

	header > ul > li{
		display: block;
	}

}

/*************
*** Cuerpo ***
*************/

main{

	margin: 39px 0;

}

@media screen and (max-width: 768px){

	main{
		margin: 97px 0;
	}
	.main_form{
		margin-top: 110px;
	}

}

.title{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(./../assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 300px;
	text-align: center;

}



/***************
*** Tarjetas ***
***************/



.container_cards{

	/* Flexbox */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.container_cards > div{

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	/* Web Scaffolding */
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
	/* Web Scaffoldin Ends */

	background-color: #42bbe5;
	border-radius: 10px;
	margin: 20px;

}

.container_cards > div > a{

	background-color: #bbe542;
	margin-bottom: 15px;
	padding: 15px 10px;
	border-radius: 10px;
	text-decoration: none;
	color: black;

}

.container_cards > div > a:hover{

	text-decoration: underline;

}

.container_cards > div > p{

	margin: 0;
	margin-top: 10px;
	padding: 0;

}

/*****************
***** Footer *****
*****************/

footer{


	background-color: #194656;
	min-height: 200px;
	color: white;
	text-align: center;

}

.footer_container{

	display: grid;
	grid-template-columns: 1fr 1fr;

}

.footer_container > div > a{

	display: block;
	margin: 10px;

	text-decoration: none;
	color: white;

}

.footer_container > div > a:hover{

	text-decoration: underline;

}

@media screen and (max-width: 768px){

	.footer_container{
		grid-template-columns: 1fr;
	}

}

/****************
**** IFrames ****
****************/

iframe{

	width: 80%;
	height: 800px;
	margin: 0;
	padding: 0 10%;
	border-style: none;
	background-color: #42bbe5;
	text-align: center;

}

/********************
**** Flash Cards ****
********************/

.flash_cards_container_container{

	display: flex;
	justify-content: center;
	align-content: center;

	margin: 100px 0;
	text-align: center;

}

.flash_cards_container{

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;

	width: 90%;

}

.sign{

	grid-column: 1 / span 2;
	margin-bottom: 5%;

}

@media screen and (max-width: 768px){

	.flash_cards_container{
		grid-template-columns: 1fr;
	}

	.sign{
		grid-column: 1;
	}

}

[class*="option"]{

	display: flex;
	justify-content: space-around;

	background-color: #bbe542;
	border-radius: 3px;

	/* Transition */
	transition: 0.2s;

	/* Grid */
	margin: 1%;

}

[class*="option"]:hover{

	/* Transition */
	background-color: #a4c83a;

}
